<h1>Instalación</h1>

<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Instalar react native</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
    	<div class="panel-body" >$ npm install -g react-native-cli</div>
    </div>
  </div>
</div>

<p>Ahora hacemos los siguiente pásos</p>

<ol class="list-group">
	<li>Vamos con la consola hasta la carpeta en donde vamos a crear el proyecto</li>
  <li>Creamos la aplicación react:
		<div class="panel-group">
			<div class="panel panel-primary">
				<div class="panel-heading">Crear react native app</div>
				<div class="panel-body">$ react-native init NombreDeApp</div>
			</div>
		</div>
		<p>Esto crea una carpeta con el nombre NombreDeApp</p>
  </li>
  <li>
  	Ingresamos a la carpeta NombreDeApp:
  	<div class="panel-group">
			<div class="panel panel-primary">
				<div class="panel-heading">Ingresar en la carpeta NombreDeApp</div>
				<div class="panel-body">$ cd NombreDeApp</div>
			</div>
		</div>
  </li>
  <li>
  	En caso de no tener instalado rnpm hacemos este paso, si no pasamos alsiguiente
  	<div class="panel-group">
			<div class="panel panel-primary">
				<div class="panel-heading">Instalar rnpm</div>
				<div class="panel-body">$ npm install rnpm -g</div>
			</div>
		</div>
  </li>
  <li>
  	Utilice RNPM de instalar y conectar el Facebook SDK para paquetes React Native y sus dependencias.
  	<div class="panel-group">
			<div class="panel panel-primary">
				<div class="panel-heading">Instalar dependencias</div>
				<div class="panel-body">$ rnpm install react-native-fbsdk</div>
			</div>
		</div>
		<p>Estas dependencias permiten conectar react native con un emulador</p>
  </li>
</ol>